{% extends 'base2.html' %}

{% block content %}
<center><div>
<h1 style="color:blue;">
    INFOX TECHNOLOGIES
</h1>

<P style="color:rgb(26, 128, 0) ;text-align: center;font-size: large;">Infox specializes in digital technologies across the globe working as an Embedded Systems Development Solution vendor.  We aim to meet the needs of clients by seeking a complete solution to their data acquisition and control systems.  Infox has a proven track record of delivering efficient & cost effective solutions in the fields of Industrial Automation, Satellite Vehicle Tracking, Embedded Systems Development, and Software Solutions Development. Infox is involved in developing commercial solutions that cater for a specific business sector, whether it be fleet management, textile mills, test laboratories or shop floors.

    Infox is among a handful of companies that has expertise in both hardware and software development. With years of experience in the design, production, and sales of high performance data acquisition, and control equipment, our staff is able to offer assistance at all levels of project implementation from the lowest level measurement techniques to highest level management reporting. We offer our expertise and help in providing cost-effective, and tailored solutions for your business needs.
  </P></center><br><br><br>
  <div style="background-color: rgb(243, 237, 212);text-align:center;margin-top: 10%;"><br><br>
    <p>Ground floor, Carnival<br>
        phase 1 Infopark<br>
        Kakanad, Kochi,<br>
        kerala<br>
        Pin 682042<br>
        Phone: +91 484 402 8658</p><br><br>
</div>
</div>
{% endblock %}