{% extends 'base.html' %}

{% block content %}

<h1 style="color:rgb(2, 0, 139);">
    PLATFORMS WE DEAL WITH
</h1><br>
<h2 style="color:red ;">Forex Auto Trading</h2>
<p>
    A web based platform to experience the real automated trading without any complexities. The forex robots will perform the market analysis to recognize the profit patterns which offer a profit trading. This eliminate emotional influence in decion making and makes the buy or sell in your absence.</p>
<h3 style="color:red ;">Augmented Reality</h3>
<p2>
    Our AR apps are a powerful tool to change the way you deal with various things in your day to day life. Looking to change the way you do certain shopping? Eager to see whether that furniture, that caught your eye at the shop, could fit in your living room? Or, Want to make your kids learning experience fun and interactive? We have just the apps for you!</p2>
<h4 style="color:red ;">Unity Game development</h4>
<p3>
    The unity 3D is the most trending game engine that allows creation of games with stunning graphics and less efforts. The unity platform can deliver high quality and cost effective products. We will assist you to turn your concepts and imagination into reality.
    
    </p3>
    <div style="background-color: rgb(244, 198, 244);text-align:center;margin-top: 10%;"><br><br>
        <p>Ground floor, Carnival<br>
            phase 1 Infopark<br>
            Kakanad, Kochi,<br>
            kerala<br>
            Pin 682042<br>
            Phone: +91 484 402 8658</p><br><br>
    </div>
    </div>





    {% endblock %}