{% extends 'base.html' %}
{% block content %}

<h1 style="color:rgb(221, 32, 32);">
    INFOX TECHNOLOGIES
</h1>
<p >
    We focus on inventing future with the foundation of technology. Our client relations are spread across the globe. We have full range of technical solutions to support our clients. Our networks are uninterruptible and always open to hear your queries. We will transform your ideas into the practical solutions. We simply love to make trustful relations. We offer value added products and services, which meets all industrial standards. Let’s grow together.</p>
    <br><br><br><br><br><br><br><br><br>
    
    <div style="background-color: rgb(234, 189, 220);text-align:center;margin-top: 10%;"><br><br>
        <p>Ground floor, Carnival<br>
            phase 1 Infopark<br>
            Kakanad, Kochi,<br>
            kerala<br>
            Pin 682042<br>
            Phone: +91 484 402 8658</p><br><br><br>
    </div>
    
{% endblock %}